// Ipad
@media only screen and (min-width:601px) and (max-width:1025px){

    .contenedorDescripcion{
        width: 100%;
        height: 120vh !important;
        padding-top: 40px;
        padding-bottom: 00px !important;
        .internoDescripcion{
            display: flex;
        }
        .tituloDescripcion{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: end;
            align-items: center;
            flex-direction: column;
            h2{
                font-weight: 500;
                font-size: 1.8rem;
            }
            .marron{
                color: #D19F68 !important;
            }
            .custom{
                color: #000;
                font-weight: 750 !important;
                font-size: 4rem !important;

            }
        }
        .contenedorParrafo{
            width: 50% !important;
            height: 80%;
            display: flex;
            justify-content: center;
            .internoParrafo{
                width: 80%;
                height: 80%;
                text-align: start !important;
                p{
                    color: #555;
                    font-size: 16px;
                    line-height: 26px;
                    font-style: italic;
                }
            }
        }
        .contenedorImagen{
            width: 50%;
            height: 400px;
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
            margin-left: 20px;
            margin-top: 20px;
            .internoImagen{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

} 