@media only screen and (min-width: 744px) and (max-width: 1025px) {
    .contenedorPrincipalSecciones {
        width: 100%;
        height: auto !important;
      }
    
      .secciones {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        display: flex;
    
        .seccion {
            width: 33.3% !important;
            height: 200px !important;;
          border-top: solid 1px;
          border-bottom: solid 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
    
          .contenedorSeccion {
            width: 100%;
            height: 150px;
            h3 {
              color: rgb(0, 0, 0);
              font-size: 1.8rem;
              font-weight: 800;
              border-top: solid 1px rgb(0, 0, 0);
              border-bottom: solid 1px rgb(0, 0, 0);
              user-select: none;
              cursor: pointer;
            }
          }
    
          &:hover {
            .contenedorSeccion h3 {
              filter: grayscale(0%);
            }
          }
    
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
            filter: grayscale(100%);
          }
    
          &.seccion:hover::before {
            filter: grayscale(0%);
          }
        }
    
        .seccion1::before {
          background-image: url("../../../public/img/1.jpg");
        }
    
        .seccion2::before {
          background-image: url("../../../public/img/2.jpg");
        }
    
        .seccion3::before {
          background-image: url("../../../public/img/3.jpg");
        }
      }
  }
  